/* COMMON SELECTORS */

.vue-ui-dna * {
    animation: none !important;
}

.vue-data-ui-fullscreen--on {
    height: 90%;
    margin: 0 auto !important;
}
.vue-data-ui-fullscreen--off {
    max-width: 100%;
}
.vue-data-ui-wrapper-fullscreen {
    overflow: scroll;
}

.vue-data-ui-zoom-plus {
    cursor:
        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' height='24' width='24'><path fill='none' d='M14.65 14.65 18 18' stroke-linejoin='round' stroke-width='2' stroke='white'/><path fill='none' stroke-width='1' stroke='black' d='M9 1A1 1 0 009 17 1 1 0 009 1M14.65 14.65 18 18M9 5 9 13M5 9 13 9'/><path fill='none' d='M9 0A1 1 0 009 18 1 1 0 009 0' stroke-width='0.5' stroke='white'/><path fill='none' d='M4 8 8 8 8 4 10 4 10 8 14 8 14 10 10 10 10 14 8 14 8 10 4 10Z' stroke-linejoin='round' stroke-width='0.5' stroke='white'/></svg>")
            10 10,
        pointer;
}

.vue-data-ui-zoom-minus {
    cursor:
        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' height='24' width='24'><path fill='none' d='M14.65 14.65 18 18' stroke-linejoin='round' stroke-width='2' stroke='white'/><path fill='none' stroke-width='1' stroke='black' d='M9 1A1 1 0 009 17 1 1 0 009 1M14.65 14.65 18 18M5 9 13 9'/><path fill='none' d='M9 0A1 1 0 009 18 1 1 0 009 0' stroke-width='0.5' stroke='white'/><path fill='none' d='M4 8 14 8 14 10 4 10Z' stroke-linejoin='round' stroke-width='0.5' stroke='white'/></svg>")
            10 10,
        pointer;
}

.vue-data-ui-cursor-default {
    cursor: default !important;
}

.vue-data-ui-watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
