    .open-btn {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        width: 4rem;
        height: 4rem;
        background-color: #2A2A2A;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .open-btn:hover {
        background-color: #3A3A3A;
    }

    .badge {
        position: absolute;
        top: -0.3rem;
        right: -0.3rem;
        padding: 0.35rem 0.35rem;
        border-radius: 1rem;
        background: #7c9fef;
        color: #1A1A1A;
        height: 1.1rem;
        font-weight: bold;
        width: fit-content;
        display: flex;
        align-items:center;
        box-shadow: 0 3px 6px rgba(0 0 0 / 0.6);
    }

    .dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 80vw;
        max-width: 800px;
        background: #2A2A2A;
        border: 1px solid #4A4A4A;
        border-radius: 1rem;
        overflow: hidden;
    }

    .dialog header,
    .todo-dialog header,
    .exchange-dialog header {
        background: linear-gradient(90deg, #42d392, #5f8aee);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: 900 !important;
        font-size: 1.5rem;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .btn-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: none;
        cursor: pointer;
        background-color: #2A2A2A;
        display: flex;
        align-items:center;
        justify-content:center;
        border-radius: 50%;
        transition: background-color 0.2s;
        height: fit-content;
        width: fit-content;
        padding: 0.25rem;
    }
    .btn-close:hover {
        background-color: #3A3A3A;
    }
    .dialog-content-wrapper {
        display: flex;
        width: 100%;
        height: calc(100% - 9.75rem);
        background: #3A3A3A;
        border-radius: 0 0.25rem 0.5rem 0.5rem;
    }
    .tabs {
        background: transparent;
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        margin-top: 1rem;
    }
    .tab {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem 0.25rem 0 0;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    .tab button {
        background: transparent;
        border: none;
        color: #CCCCCC;
        cursor: pointer;
        font-weight: bold;
    }
    .actions {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .actions button {
        border: none;
        cursor: pointer;
        transition: background-color 0.2s;
        display: flex;
        align-items:center;
        justify-content:center;
        padding: 0.25rem;
        width: 2rem;
        height: 2rem;
        border-radius: 0.25rem;
        background-color:#5f8aee;
        box-shadow: 0 3px 6px -3px black;
    }
    .actions button:hover {
        background-color: #81a2f0;
    }
    .todo-dialog,
    .exchange-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70vh;
        width: 100vw;
        max-width: 400px;
        background: #3A3A3A;
        border: 1px solid #7A7A7A;
        border-radius: 0.5rem;
        box-shadow: 0 6px 12px -6px black;
        overflow-x: hidden;
    }
    .exchange-dialog {
        height: 305px;
    }
    .todo-dialog header,
    .exchange-dialog header {
        line-height: 1.5rem;
        align-items: start;
        gap: 1rem;
        width: calc(100% + 2rem);
        margin-left: -1rem;
        margin-top: -1rem;
        padding: 1rem;
        border-bottom: 1px solid #7A7A7A;
        margin-bottom: 1rem;
    }
    .todo-dialog-content {
        width: 100%;
        height: calc(100% - 9rem);
        overflow-y: auto;
        margin-bottom: 1.3rem;
    }
    .todo-dialog-actions {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items:center;
        justify-content: flex-end;
    }
    .todo-dialog-actions button {
        border: none;
        cursor: pointer;
        padding: 0.5rem 0.5rem;
        border-radius: 0.25rem;
    }
    .todo-dialog-action-close {
        background-color: #4A4A4A;
        color: #CCCCCC;
        transition: background-color 0.2s;
    }
    .todo-dialog-action-close:hover {
        background-color: #5A5A5A;
    }
    .todo-dialog-action-add {
        background-color:#42d392;
        transition: background-color 0.2s;
    }
    .todo-dialog-action-add:hover {
        background-color:#75e6b3;
    }
    .todo-dialog-content label,
    .exchange-dialog label {
        display: flex;
        flex-direction: column;
        color: #CCCCCC;
        gap: 0.25rem;
    }
    textarea {
        width: 99%;
        max-width: 99%;
        min-width: 99%;
        max-height: 200px;
        min-height: 4rem;
        background: #5A5A5A;
        color: white;
        padding: 0.5rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
    }
    textarea:focus {
        outline: 1px solid #42d392;
    }
    input[type="text"] {
        background: #5A5A5A;
        width: 99%;
        max-width: 99%;
        color: white;
        padding: 0.5rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
        border: none;
    }
    .priority-fields {
        display: flex;
        gap: 2rem;
    }
    .radio-field {
        display: flex;
        gap: 0.5rem;
    }
    .radio-field label {
        cursor: pointer;
    }
    input[type="radio"] {
        accent-color: #42d392;
        cursor: pointer;
    }
    .todo-label {
        display: flex;
        align-items:center;
        gap: 0.5rem;
        padding: 0 0.25rem;
    }
    .card-container {
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
    }
    .card {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #5A5A5A;
        background-color: #4A4A4A;
        border-radius: 0.25rem;
        box-shadow: 0 3px 6px rgb(0 0 0 / 0.3);
        position:relative;
    }
    .item-badge {
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 50%;
        border-top: 1px solid #E1E5E8;
        box-shadow: 0 3px 6px -1px black;
    }
    .priority-0 {
        background-color:#5f8aee;
    }
    .priority-1 {
        background-color: #ff7f0e;
    }
    .priority-2 {
        background-color: #e84242;
    }
    .item-priority {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items:center;
        font-size: 0.8rem;
        color: #CCCCCC;
    }
    .item-title {
        color: #CCCCCC;
        font-weight: bold;
        font-size: 1.2rem;
        padding-right: 160px;
    }
    .item-label {
        color: #9A9A9A;
    }
    .item-content {
        color: #CCCCCC;
        font-weight: bold;
        margin-left: 0.5rem;
    }
    .item-actions {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        display: flex;
        gap: 0.5rem;
    }
    .item-actions button {
        background-color: #5A5A5A;
        border: none;
        padding: 0.25rem;
        width: 2rem;
        height: 2rem;
        border-radius: 0.25rem;
        transition: background-color 0.2s;
        cursor: pointer;
        display: flex;
        align-items:center;
        justify-content:center;
        box-shadow: 0 3px 6px rgb(0 0 0 / 0.3);
    }
    .item-actions button:hover {
        background-color: #6A6A6A;
    }
    .btn-green {
        background-color: #42d39230 !important;
    }
    .btn-green:hover {
        background-color: #42d39250 !important;
    }
    .btn-red {
        background-color: #e7696930 !important;
    }
    .btn-red:hover {
        background-color: #e7696950 !important;
    }
    .empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        gap:1rem;
        color: #7A7A7A;
    }
    .counter-button {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
    }
    .counter {
        display: flex;
        align-items:center;
        justify-content: center;
        border-radius: 1rem;
        padding: 0 0.3rem;
        font-size: 0.8rem;
        font-weight: bold;
    }
    .error {
        background-color:#463b3b !important;
        outline: 1px solid #e76969;
        color: #e76969;
    }
    .error:focus {
        outline: 1px solid #e76969 !important;
    }
    .required {
        color: #e76969;
    }
    .confirm-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4A4A4A;
        border: 1px solid #e76969;
        border-radius: 0.5rem;
        box-shadow: 0 6px 12px rgb(0 0 0 / 0.3);
        color: white;
        max-width: 300px;
    }
    .cancel-wrapper {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
        justify-content:center;
    }
    .confirm-dialog button {
        border: none;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        color: white;
        font-size: 1rem;
        box-shadow: 0 3px 6px rgb(0 0 0 / 0.3);
        cursor: pointer;
        display: flex;
        align-items:center;
        justify-content: center;
        height: 64px;
        width: 64px;
    }
    summary {
        background-color: #FFFFFF10;
        color: #CCCCCC;
        cursor: pointer;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        user-select: none;
    }
    details[open] summary {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .exchanges-wrapper {
        background-color: #FFFFFF10;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .exchange-header {
        display: flex;
        align-items:center;
        gap: 0.5rem;
        color: #CCCCCC;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }
    .exchange-header button {
        background-color: #5A5A5A;
        border: none;
        padding: 0.25rem;
        width: 2rem;
        height: 2rem;
        border-radius: 0.25rem;
        transition: background-color 0.2s;
        cursor: pointer;
        display: flex;
        align-items:center;
        justify-content:center;
        box-shadow: 0 3px 6px rgb(0 0 0 / 0.3);
    }
    .exchange {
        width: 100%;
        padding: 0.5rem;
        background-color: #FFFFFF10;
        border-radius: 0.25rem;
    }
    .exchange article {
        color: #E1E5E8;
    }
    .stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    .stat {
        flex: 0 0 calc(50% - 8px);
        aspect-ratio: 1 / 1;
        min-width: 0;
        overflow: hidden;
        height: fit-content;
    }
    .filters {
        margin-top: 1rem;
        display: flex;
        align-items: end;
        gap: 1rem;
        border: 1px solid #4A4A4A;
        padding: 0.25rem 0.5rem 0.5rem 0.5rem;
        border-radius: 0.5rem;

    }
    .filters label {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        color: #8A8A8A;
    }
    .filters select,
    .filters input {
        padding: 0.25rem;
        background-color: #4A4A4A;
        color: #CCCCCC;
        border-radius: 0.25rem;
        border: none;
    }
    .reset {
        opacity: 1;
        border: none;
        padding: 0;
        height: 1.75rem;
        width: 1.75rem;
        padding: 0.25rem;
        border-radius: 50%;
        display: flex;
        align-items:center;
        justify-content: center;
        background-color: #2A2A2A;
        transition: background-color 0.2s, opacity 0.2s;
        cursor: pointer;
    }
    .reset:hover {
        background-color: #3A3A3A;
    }
    .reset:disabled {
        cursor:not-allowed;
        opacity: 0.3;
    }